html,
body {
  height: 100%;
  margin: 0;
  background-color: #1F2747;
  font-family: "Funnel Display", sans-serif;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  //background: linear-gradient(to bottom right, #444444, #009a5b);
  font-size: 1em;
}

main {
  color: #fff6d5;
  text-align: center;
}

.heart:after {
  content: "❤️";
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  .info {
    padding: 10px 0;
    display: block;
    font-size: 0.75em;
  }
}
